TOKEN=telegram_bot_token
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASS=your_db_password
API_ADDRESS=http://@app:8000
YOUR_EMAIL=your_email_for_reset_password
YOUR_EMAIL_PASSWORD=your_email_password
HOST_EMAIL=smtp.gmail.com
PORT_EMAIL=587